* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

ul,ol {list-style: none;}

a{
    text-decoration: none;
    color:#00AdB5;
}

body{
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

$padding:16px;
$border-color:#eee;
$main-color:#1890ff;

.site-page {
    background: #ffffff;
    min-height: 100vh;
}

.site-header {
    background: #EEEEEE;
    padding: $padding 0;
    .logo {
        padding: 0 16px;
        display: flex;
        align-items: center;
        > img {
            margin-right: $padding;
        }
        > span {
            color:#00AdB5;
            font-size: 32px;
        }
    }
}

.site-main {
    padding:$padding 0 0 $padding;
}

.site-aside {
    border-right: 1px solid $border-color;
    h2 {
        padding:$padding;
        font-size: 18px;
    }
    ul {
        min-width: 12em;
        > li {
            position: relative;
            a {
                padding: 8px $padding;
                color: #333;
                display: block;
                &:hover {
                    color:$main-color;
                }
                &.active {
                    background-color: #e6f7ff;
                    color:$main-color;
                }
            }
        }
    }
}

.site-footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: $padding 0;
    border-top: 1px solid $border-color
}

.myui-menuItem-filler {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $main-color;
    height: 100%;
    width: 3px;
    border-radius: 1px;
}